<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/ads.css">
</head>
<body>
<div class="nav-bar">
    <span></span>
    <form th:action="@{/cat}" method="get">
        Amount from: <input type="number" name="minAmount" style="width: 60px;" min="0" step="1">
        to: <input type="number" name="maxAmount" style="width: 60px;">
        <br>
        <select name="sortBy">
            <option value="price">Price</option>
            <option value="createdAt">Date</option>
        </select>
        <select name="sortOrder">
            <option value="asc">Ascending</option>
            <option value="desc" selected>Descending</option>
        </select>
        <button type="submit">Apply</button>
    </form>
</div>

<div class="container">
    <!-- Display "No ads yet." message if no ads are available -->
    <p th:if="${#lists.isEmpty(ads)}">No ads yet.</p>

    <!-- Display ads if they are available -->
    <div th:each="ad : ${ads}" class="ad-container" th:onclick="|window.location='/cat/' + ${ad.id}|"
         th:if="${!#lists.isEmpty(ads)}">
        <img th:src="@{${ad.photoPath}}" alt="Ad Image" class="ad-image" th:if="${ad.photoPath != null}">
        <div class="ad-content">
            <h5 th:text="${ad.title}">Ad Title</h5>
            <p th:utext="${#strings.substring(ad.description, 0, 100)} + '...'" th:if="${ad.description.length() > 100}"></p>
            <p th:text="${ad.description}" th:if="${ad.description.length() <= 100}"></p>
            <p th:if="${ad.price != null}" th:text="'Price: $' + ${ad.price}">Price: $</p>
            <span class="read-more">Read more</span>
        </div>
    </div>
</div>

</body>
</html>
